/*
 * SPDX-FileCopyrightText: 2023 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

[data-md-color-scheme="slate"][data-md-color-primary=hedgedoc] {
  --md-hue: 8;
  --md-default-fg-color: hsla(var(--md-hue), 20%, 80%, 1);
  --md-default-fg-color--light: hsla(var(--md-hue), 20%, 80%, 1);
  --md-default-fg-color--lighter: hsla(var(--md-hue), 20%, 80%, 0.5);
  --md-default-fg-color--lightest: hsla(var(--md-hue), 20%, 80%, 0.2);

  --md-default-bg-color: hsla(var(--md-hue), 0%, 5%, 1);
  --md-default-bg-color--light: hsla(var(--md-hue), 0%, 5%, 0.54);
  --md-default-bg-color--lighter: hsla(var(--md-hue), 0%, 5%, 0.26);
  --md-default-bg-color--lightest: hsla(var(--md-hue), 0%, 5%, 0.07);

  --md-typeset-color: hsl(var(--md-hue), 5%, 80%);
  --md-typeset-a-color: hsl(var(--md-hue), 92%, 67%, 1);
  --md-primary-fg-color: hsl(var(--md-hue), 92%, 25%, 1);
  --md-table-header-fg-color: var(--md-typeset-color);
  --md-table-header-bg-color: hsla(var(--md-hue), 0%, 20%, 1);

  --md-code-fg-color: hsla(var(--md-hue),0%,86%,1);
  --md-code-bg-color: hsla(var(--md-hue),0%,15%,1);
}

[data-md-color-primary=hedgedoc] .md-typeset table:not([class]) th {
  background-color: var(--md-table-header-bg-color);
  color: var(--md-table-header-fg-color);
}

[data-md-color-primary=hedgedoc] {
  --md-hue: 8;
  --md-primary-fg-color: hsl(var(--md-hue), 92%, 37%, 1);
  --md-primary-fg-color--dark: var(--md-primary-fg-color);
  --md-primary-fg-color--light: var(--md-primary-fg-color);
  --md-primary-bg-color: hsla(0, 15%, 100%, 1);
  --md-footer-bg-color: hsla(var(--md-hue), 0%, 12%, 1);
  --md-footer-bg-color--dark: hsla(var(--md-hue), 0%, 16%, 1);

  --md-table-header-fg-color: var(--md-default-bg-color);
  --md-table-header-bg-color: var(--md-default-fg-color--light);
}

[data-md-color-accent=hedgedoc] {
  --md-accent-fg-color: #b51f08;
  --md-accent-fg-color--transparent: hsla(348, 100%, 55%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}
.md-grid {
  max-width: 1440px;
}

.mastodon {
  color: #2b90d9;
}

[data-md-color-scheme="slate"] .light-mode-only {
  display: none;
}

[data-md-color-scheme="light"] .dark-mode-only {
  display: none;
}

.topic-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2em;
}

@media screen and (max-width: 900px) {
  .topic-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.topic-container a[href] {
  color: var(--md-accent-bg-color--light);
}

.topic-container a[href]:hover, .topic a[href]:focus, .topic a[href]:active {
  color: #fff;
}

.topic {
  width: 100%;
  font-size: 28px;
  padding: 2em 1em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  background-color: var(--md-primary-fg-color);
}

.topic span {
  text-align: center;
}
