/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.menu {
  transition: height 0.2s, flex-basis 0.2s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1 0;
  height: 0;

  &.show {
    height: 100%;
    flex-basis: 100%;
    overflow-y: auto;
  }

  & > div {
    background: var(--bs-body-bg);
  }
}
