/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.extended-codemirror {
  :global {
    @import '~codemirror/lib/codemirror';
    @import '~codemirror/addon/display/fullscreen';
    @import '~codemirror/addon/fold/foldgutter';
    @import '~codemirror/addon/dialog/dialog';
    @import '~codemirror/theme/neat';
    @import './one-dark';
    @import './hints';

    .CodeMirror {
      font-family: "Fira Code", "Twemoji", Consolas, monaco, monospace;
      letter-spacing: 0.025em;
      line-height: 1.25;
      font-size: 18px;
      height: 100%;
    }

    .file-drag .CodeMirror-cursors {
      visibility: visible;
    }
  }

  &.no-ligatures {
    :global {
      .CodeMirror {

        .CodeMirror-line, .CodeMirror-line-like {
          font-feature-settings: inherit;
        }

        .CodeMirror-line, .CodeMirror-line-like {
          font-variant-ligatures: none;
        }
      }
    }
  }
}
