@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import './one-dark.css';

.CodeMirror {
  font-family: "Source Code Pro", Consolas, monaco, monospace;
  letter-spacing: 0.025em;
  line-height: 1.25;
  font-size: 18px;
  height: 100%;
}
