/*!
 * SPDX-FileCopyrightText: 2023 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.color-0 {
  --color: #11ff39;
}

.color-1 {
  --color: #1149ff;
}

.color-2 {
  --color: #ff1111;
}

.color-3 {
  --color: #780c0c;
}

.color-4 {
  --color: #cb11ff;
}

.color-5 {
  --color: #ffff00;
}

.color-6 {
  --color: #00fff2;
}

.color-7 {
  --color: #ff8000;
}
