# SPDX-FileCopyrightText: 2022 The HedgeDoc developers (see AUTHORS file)
#
# SPDX-License-Identifier: CC0-1.0

# Yarn 2 without zero-installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

**/node_modules
node_modules

frontend/.next
**/dist

.github
**/Dockerfile
.dockerignore

frontend/cypress/downloads

**/.env

backend/public/uploads
backend/uploads
backend/test_uploads

**/coverage
**/coverage-e2e
**/.nyc_output

backend/hedgedoc.sqlite

**/.turbo

