Tilman Vatteroth <tilman.vatteroth@tu-dortmund.de>       mrdrogdrog <mr.drogdrog@gmail.com>
Tilman Vatteroth <tilman.vatteroth@tu-dortmund.de>       mrdrogdrog <tilman.vatteroth@tu-dortmund.de>

Philip Molares <philip.molares@udo.edu>                  Philip Molares <philip@mauricedoepke.de>
Philip Molares <philip.molares@udo.edu>                  Philip Molares <git@molar.es>

Sheogorath <sheogorath@shivering-isles.com>              Christoph Kern <sheogorath@shivering-isles.com>
