<!DOCTYPE html>
<html lang="en">

<head>
    <%- include hedgedoc/head %>
</head>

<body>
    <%- include hedgedoc/header %>
    <%- include hedgedoc/body %>
    <%- include hedgedoc/footer %>
</body>

</html>
