<!DOCTYPE html>
<html>

<head>
    <%- include('index/head') %>
</head>

<body>
    <%- include('index/header') %>
    <%- include('index/body') %>
    <%- include('index/footer') %>
</body>

</html>
