.history-pin {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.active {
    color: #d43f3a;
    opacity: 1;
  }
}

.history-close {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}