@import "../../../../../node_modules/bootstrap/scss/bootstrap";
@import "font-pack";
//@import "cover.scss";

html {
  height: 100%;
}
html,
body {
  background-color: #333;
}
body {
  min-height: 100%;
  color: #fff;
  text-align: center;
  //text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

*:focus {
  outline: 0 !important;
}

