/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.header-nav {
  .nav-link {
    border-bottom: 2px solid transparent
  }

  .nav-link.active {
    border-bottom-color: #fff;
  }
}
