@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/react-bootstrap-typeahead/css/Typeahead';
@import "fonts/source-code-pro/source-code-pro";
@import "fonts/twemoji/twemoji";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: darken($dark, 8%);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

*:focus {
  outline: 0 !important;
}

.mt-1dot5 {
  margin-top: 0.375rem !important;
}

.fa.fa-fix-line-height {
  line-height: inherit;
}

.text-start {
  text-align: start;
}

.mvh-100 {
  min-height: 100vh;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
