/*!
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.activeIndicator {
  $indicator-size: 12px;
  border-radius: $indicator-size;
  height: $indicator-size;
  width: $indicator-size;

  &.active {
    background-color: #5cb85c;
  }

  &.inactive {
    background-color: #d20000;
  }
}
