/*!
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.user-line-color-indicator {
  border-left: 3px solid;
  min-height: 30px;
  height: 100%;
  flex: 0 0 3px;
}

.user-avatar {
  flex: 0 0 20px;
}

.user-line-name {
  text-overflow: ellipsis;
  flex: 1 1 0;
  overflow: hidden;
}

.active-indicator-container {
  height: 100%;
  display: flex;
  flex: 0 0 20px;
  align-items: center;
  justify-content: center;
}
