/*!
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@import './github-markdown';

.markdown-body {
  position: relative;
  font-family: 'Source Sans Pro', "Twemoji Mozilla", sans-serif;
  word-break: break-word;

  .alert > p, .alert > ul {
    margin-bottom: 0;
  }

  // This is necessary since we need to set this for all DOM Element that could be children of .markdown-body and since we support all of HTML that would literally be everything
  & > * {
    width: 100%;
    max-width: 900px;
  }

  h1, h2, h3, h4, h5, h6 {
    a.heading-anchor {
      font-size: 0.75em;
      margin-top: 0.25em;
      opacity: 0.3;
      transition: opacity 0.1s;

      &:hover {
        opacity: 1;
      }
    }
  }

  blockquote .quote-extra {
    font-size: 0.85em;
    margin-inline-start: 0.5em;

    &:first-of-type {
      &::before {
        content: '\2014 \00A0'
      }
    }
  }

  pre {
    overflow: visible;

    code {
      white-space: pre-wrap;
      word-break: break-word;
    }
  }

}
