/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.slide-sidebar {
  @import "./variables.scss";

  flex: 0 0 $height;
  position: relative;

  .sidebar-inner {
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    width: $menu-width;
    top: 0;
    left: 0;
    transition: left 0.3s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);

    &:hover, &.show {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      left: (-$menu-width + $height);
    }

    background: var(--bs-light);
  }
}
