@import '../../../../node_modules/github-markdown-css/github-markdown.css';

.markdown-body {
  max-width: 758px;
  font-family: 'Source Sans Pro', "twemoji", sans-serif;

  .alert > p, .alert > ul {
    margin-bottom: 0;
  }

  a.heading-anchor {
    margin-left: -1.25em;
    font-size: 0.75em;
    margin-top: 0.25em;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}
