{$HD_BASE_URL} {

    log {
        output stdout
        level WARN
        format console
    }

    reverse_proxy /realtime http://backend:{$HD_BACKEND_PORT:3000}
    reverse_proxy /api/* http://backend:{$HD_BACKEND_PORT:3000}
    reverse_proxy /public/* http://backend:{$HD_BACKEND_PORT:3000}
    reverse_proxy /uploads/* http://backend:{$HD_BACKEND_PORT:3000}
    reverse_proxy /media/* http://backend:{$HD_BACKEND_PORT:3000}
    reverse_proxy /* http://frontend:{$HD_FRONTEND_PORT:3001}
}
