/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.btn-icon {

  &.with-border {
    .icon-part {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .text-part {
      padding: 0.375rem 0.75rem;
    }
  }

  .icon-part {
    padding: 0.375rem 0.375rem;
    display: flex;

    .social-icon {
      font-size: 1.5em;
    }
  }

  .text-part {
    padding: 0.375rem 0.75rem 0.375rem 0;
  }
}

