.btn-icon {
  padding: 0.375rem 0.375rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;

  .icon-part {
    padding: 0.375rem 0.375rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;

    .social-icon {
      font-size: 1.5em;
    }
  }

  .text-part {
    padding: 0.375rem 0.75rem;
  }
}

