/*
 * SPDX-FileCopyrightText: 2020 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.markdown-toc {
  width: 100%;
  max-width: 200px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  &.sticky {
    position: fixed;
  }

  > ul > li {
    > a {
      padding: 4px 20px;
    }

    > ul > li {
      > a {
        padding: 1px 0 1px 30px;
      }

      > ul > li {
        > a {
          padding: 1px 0 1px 38px;
        }
      }
    }
  }


  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.9em;

    a {
      color: #767676;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      display: block;
    }


    li.active {
      a {
        margin-top: 2px;
        margin-bottom: 2px;
        color: #000000;
        font-weight: bold;
      }
    }
  }
}

.markdown-toc-sidebar-button {
    position: fixed;
    right: 40px;
    bottom: 30px;

    & > .dropup {
      position: sticky;
      bottom: 20px;
      right: 0;
    }
}
