.markdown-body {
  @import '../../../../../../node_modules/highlight.js/styles/github-gist.css';
}

.markdown-body code.hljs {

  padding: 16px;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);

  &.showGutter {
    .linenumber {
      position: relative;
      cursor: default;
      z-index: 4;
      padding: 0 8px 0 0;
      min-width: 20px;
      box-sizing: content-box;
      color: #afafaf;
      border-right: 3px solid #6ce26c;
      flex-direction: column;
      overflow: hidden;
      user-select: none;

      display: flex;
      align-items: flex-end;

      &:before {
        content: attr(data-line-number);
      }
    }
  }

  &.showGutter .codeline {
    margin: 0 0 0 16px;
  }

  &.wrapLines .codeline {
    white-space: pre-wrap;
  }

}
