/*!
 * SPDX-FileCopyrightText: 2022 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.image-drop {
  @import "../../../../../global-styles/variables.light.scss";
  border: 3px dashed $dark;

  :global(body.dark) & {
    @import "../../../../../global-styles/variables.dark.scss";
    border-color: $dark;
  }

  border-radius: 3px;
  transition: background-color 50ms, color 50ms;

  .altText {
    text-overflow: ellipsis;
    flex: 1 1;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }
}
