@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/react-bootstrap-typeahead/css/Typeahead';
@import "font-pack";

html {
  height: 100%;
}
body {
  min-height: 100%;
  //text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

*:focus {
  outline: 0 !important;
}

