@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/react-bootstrap-typeahead/css/Typeahead';
@import "font-pack";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: darken($dark, 8%);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

*:focus {
  outline: 0 !important;
}

