@import './light';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/react-bootstrap-typeahead/css/Typeahead';
@import "fonts/source-code-pro/source-code-pro";
@import "fonts/twemoji/twemoji";
@import '../../node_modules/fork-awesome/css/fork-awesome.min';

.text-black, body.dark .text-black {
  color: $black;
}

body {
  background-color: darken($dark, 8%);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "Twemoji Mozilla", sans-serif;
}

*:focus {
  outline: 0 !important;
}

.mt-1dot5 {
  margin-top: 0.375rem !important;
}

.fa.fa-fix-line-height {
  line-height: inherit;
}

.text-start {
  text-align: start;
}

.mvh-100 {
  min-height: 100vh;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.font-style-normal {
  font-style: normal;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

.faded-fa {
  .fa, &::after {
    opacity: 0.5;
  }

  &:hover .fa, &:hover::after {
    opacity: 1;
  }
}

.dropup .dropdown-toggle, .dropdown-toggle {
  &.no-arrow::after {
    content: initial;
  }
}
