/*!
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */


$font-family-base: "Source Sans Pro", Helvetica, Arial, "Twemoji Mozilla", sans-serif;
