@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../../node_modules/codemirror/addon/display/fullscreen.css';
@import '../../../../node_modules/codemirror/addon/dialog/dialog.css';
@import '../../../../node_modules/codemirror/theme/neat.css';
@import './one-dark.css';
@import 'hints';

.CodeMirror {
  font-family: "Source Code Pro", "twemoji", Consolas, monaco, monospace;
  letter-spacing: 0.025em;
  line-height: 1.25;
  font-size: 18px;
  height: 100%;
}
