@import '../../../../node_modules/codemirror/lib/codemirror';
@import '../../../../node_modules/codemirror/addon/display/fullscreen';
@import '../../../../node_modules/codemirror/addon/dialog/dialog';
@import '../../../../node_modules/codemirror/theme/neat';
@import './one-dark';
@import 'hints';

.CodeMirror {
  font-family: "Source Code Pro", "twemoji", Consolas, monaco, monospace;
  letter-spacing: 0.025em;
  line-height: 1.25;
  font-size: 18px;
  height: 100%;
}
