/*
 * SPDX-FileCopyrightText: 2020 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.history-pin {
  .fa {
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &:hover .fa {
    opacity: 1;
  }

  &.pinned .fa {
    color: #d43f3a;
    opacity: 1;
  }
}
