/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.click-shield {

  position: relative;
  cursor: pointer;
  width: 100%;
  overflow: hidden;

  .preview-hover {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.5;
    transition: opacity 0.2s;
    text-shadow: #000000 0 0 5px;
  }

  .preview-hover-text {
    opacity: 0;
  }

  &:hover {
    .preview-hover-text {
      opacity: 1;
    }
    .preview-hover {
      opacity: 1;
      text-shadow: #000000 0 0 5px, #000000 0 0 10px;
    }
  }

  .preview-background {
    background: none;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
    width: 100%;

    :global(body.dark) &{
      @import "../../../../../global-styles/variables.dark";
      box-shadow: inset fade-out($black, 0.5) 0 0 20px;
    }

    @import "../../../../../global-styles/variables.light";
    box-shadow: inset fade-out($black, 0.5) 0 0 20px;
  }
}
