/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.loader {
  height: 100%;
  width: 100%;

  &.middle, .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
