/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.fullscreen-button {
  position: fixed;
  right: 1.75rem;
  bottom: 1rem;
  z-index: 1300;
}

@media print {
  .fullscreen-button {
    display: none;
  }
}
