/*!
 * SPDX-FileCopyrightText: 2025 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.active:hover {
  cursor: pointer;
  color: var(--bs-emphasis-color);
}
