/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.markdown-toc-sidebar-button {
  position: fixed;
  right: calc(70px + env(safe-area-inset-right));
  bottom: calc(30px + env(safe-area-inset-bottom));

  & > :global(.dropup) {
    position: sticky;
    bottom: 20px;
    right: 0;
  }
}

@media print {
  .markdown-toc-sidebar-button {
    display: none;
  }
}
