/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.sync-scroll-buttons {
  svg {
    width: 20px;
    height: 20px;
  }

  :global(.btn) {
    svg g {
      fill: var(--bs-secondary);
    }

    :global(&.active), &:hover {
      svg g {
        fill: var(--bs-light);
      }
    }
  }
}
