/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */


body.dark {
  @import "variables.dark";

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }

  --#{$prefix}body-color: #{$body-color};
  --#{$prefix}body-bg: #{$body-bg};

  @import "colors-only-bootstrap/bootstrap";
}
