/*
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.document {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;

  .side {
    position: sticky;
    top: 0;
    bottom: 0;
    flex: 1 0 0;
  }

  .content {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 900px;
    max-width: 100%;
    width: 900px;
  }
}

@media print {
  .document {
    height: auto !important;
    color: #000;
  }
}
