/*
 * SPDX-FileCopyrightText: 2020 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.user-line-color-indicator {
  border-left: 3px solid;
  min-height: 30px;
  height: 100%;
}
