/*!
 * SPDX-FileCopyrightText: 2022 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.mermaid {
  background-color: #f8f9fa;
  border-radius: 6px;
  padding: 8px;
  overflow-x: auto;
}

.mermaid > svg,
.mermaid > iframe {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
