site_name: HedgeDoc
site_url: https://docs.hedgedoc.org
repo_url: https://github.com/hedgedoc/hedgedoc
site_description: 'HedgeDoc Documentation'
site_author: 'HedgeDoc Developers'
docs_dir: content
edit_uri: https://github.com/hedgedoc/hedgedoc/edit/master/docs/content/
nav:
  - Home: index.md
  - Installation:
      - 'Getting Started': setup/getting-started.md
      - Official Installation Methods:
          - 'Docker Image': setup/docker.md
          - 'Manual Installation': setup/manual-setup.md
      - 'Community Installation Methods': setup/community.md
  - Guides:
      - 'Reverse Proxy': guides/reverse-proxy.md
      - Authentication:
          - LDAP: guides/auth/ldap-ad.md
          - OAuth: guides/auth/oauth.md
          - SAML: guides/auth/saml.md
          - SAML Keycloak: guides/auth/saml-keycloak.md
          - SAML OneLogin: guides/auth/saml-onelogin.md
          - GitHub: guides/auth/github.md
          - GitLab: guides/auth/gitlab-self-hosted.md
          - Keycloak: guides/auth/keycloak.md
          - Mattermost: guides/auth/mattermost-self-hosted.md
          - Nextcloud: guides/auth/nextcloud.md
          - Twitter: guides/auth/twitter.md
          - Authelia: guides/auth/authelia.md
          - Azure Active Directory: guides/auth/azure-ad.md
      - Media Backend:
          - MinIO: guides/minio-image-upload.md
          - S3: guides/s3-image-upload.md
      - Migrate from Etherpad: guides/migrate-etherpad.md
      - Migration Troubleshooting: guides/migration-troubleshooting.md
      - Terms of Use Setup: guides/providing-terms.md
  - Configuration: configuration.md
  - References:
      - 'HedgeDoc Flavored Markdown': references/hfm.md
      - 'Slide Options': references/slide-options.md
      - 'URL Scheme': references/url-scheme.md
      - 'YAML Metadata': references/yaml-metadata.md
  - Developer:
      - 'Getting Started': dev/getting-started.md
      - API: dev/api.md
      - 'Operational Transformation': dev/ot.md
      - Webpack: dev/webpack.md
      - 'Documentation': dev/documentation.md
  - FAQ: faq.md
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - mdx_truly_sane_lists
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list
  - footnotes
  - admonition
theme:
  name: 'material'
  language: en
  favicon: images/favicon.png
  logo: images/logo.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: light
      primary: 'hedgedoc'
      accent: 'hedgedoc'
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: 'hedgedoc'
      accent: 'hedgedoc'
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
  font: false

extra_css:
  - theme/styles/hedgedoc-custom.css
  - theme/styles/roboto.css

plugins:
  - search
  - redirects:
      redirect_maps:
        'setup/docker-linuxserver.md': 'setup/community.md'
        'setup/kubernetes-helm.md': 'setup/community.md'
        'setup/yunohost.md': 'setup/community.md'
        'setup/cloudron.md': 'setup/community.md'
        'setup/arch-linux.md': 'setup/community.md'
        'setup/pikapods.md': 'setup/community.md'
        'setup/heroku.md': 'setup/community.md'
        'history.md': https://hedgedoc.org/history/details
