/*
 * SPDX-FileCopyrightText: 2020 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.user-avatar {
  width: 20px;
  height: 20px;

  &.lg {
    width: 30px;
    height: 30px;
  }

  &.sm {
    width: 16px;
    height: 16px;
  }

}
