/*!
 * SPDX-FileCopyrightText: 2023 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.branding-separator:has(*) {
  &::before {
    content: '\2014';
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}
