name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint files
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          NODEJS_VERSION: '22'

      - name: Run ESLint
        run: yarn run eslint

      - name: Lint markdown files
        run: yarn run markdownlint

      - name: Lint shell scripts with shellcheck
        run: shellcheck bin/heroku bin/setup

      - name: Lint JSON files
        run: sudo apt install -y jq && yarn run jsonlint
