name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint files
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          NODEJS_VERSION: '24'

      - name: Run ESLint
        run: yarn run eslint

      - name: Lint markdown files
        run: yarn run markdownlint

      - name: Lint shell scripts with shellcheck
        run: shellcheck bin/heroku bin/setup

      - name: Lint JSON files
        run: sudo apt install -y jq && yarn run jsonlint
